# Virtual environment
.venv/
venv/

# PyCharm / IDE
.idea/
.vscode/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Test reports
report.html
reports/

# Screenshots generated during local execution
screenshots/

# OS files
.DS_Store
Thumbs.db
